<style>
    ._avatar{
        width: 100px;
        height: 100px;
        border-radius: 5px;
        display: inline-block;
    }
    ._base{
        float: right;
        display: inline-block;
        margin-top: 20px;
        margin-right: 10px;
    }
    ._detail{
        font-size: 14px;
        margin-top: 5px;
    }
</style>
<div class="widget tag">
  <h3 class="title">关于我</h3>

  <div class="entry">
    <img class="_avatar" src="https://avatars1.githubusercontent.com/u/4262706?v=3&s=460">
    <ul class="_base" style="list-style:none;">
        <li><h3>Linwei Zhang</h3></li>
        <li>辽宁-大连</li>
        <li>1993-06-02 </li>
    </ul>
    <ul class="_detail">
      <li>擅长：Android开发, Linux, Python</li>
      <li>Github: <a href="https://github.com/yimun">https://github.com/yimun</a></li>
      <li>E-Mail: <a class="email" href="mailto:%79%69%6d%75%6c%69%6e%77%65%69@%67%6d%61%69%6c.%63%6f%6d">yimulinwei@gmail.com</a></li>
    </ul>
    <a href="/about" class="right" style="color:#999;text-align:right;">更多 ></a>
  </div>

</div>
